exclude: '^docs/|/migrations/|devcontainer.json'
default_stages: [pre-commit]
minimum_pre_commit_version: "3.2.0"

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        exclude: ^static/vendors/

      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^static/vendors/
      {% if not allow_commits_to_main %}
      - id: no-commit-to-branch
      {% endif %}
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
        exclude: ^static/vendors/

  # Secrets scanning: https://github.com/sirwart/ripsecrets
  - repo: https://github.com/sirwart/ripsecrets
    rev: 0.1.11
    hooks:
      - id: ripsecrets

  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.28.0'
    hooks:
      - id: django-upgrade
        args: ['--target-version', '5.2']

  # Run the Ruff linter.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      # Linter
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      # Formatter
      - id: ruff-format
        exclude: ^static/vendors/

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
        exclude: ^static/vendors/|.*webpack.*
      - id: djlint-django
        exclude: ^static/vendors/|.*webpack.*

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false
