{%- if use_drf %}
from django.conf import settings
from rest_framework.routers import DefaultRouter
from rest_framework.routers import SimpleRouter

from {{ project_slug }}.users.api.views import UserViewSet

router = DefaultRouter() if settings.DEBUG else SimpleRouter()

router.register("users", UserViewSet)


app_name = "api"
urlpatterns = router.urls
{%- endif %}
{%- if use_django_ninja %}
from ninja import NinjaAPI
from ninja.security import django_auth
from {{project_slug}}.users.api.views import users_router

api = NinjaAPI(
    title="{{ project_name }} API",
    version="1.0.0",
    auth=django_auth
)

api.add_router("/users/", users_router, tags=["users"])
{% endif %}
