{% if database == 'Postgresql' %}
# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB={{ project_slug }}
POSTGRES_USER=!!!CHANGE_USER!!!
POSTGRES_PASSWORD=!!!CHANGE_DB_PASSWORD!!!
{% elif database == 'Microsoft SQL' %}
# MSSQL
# ------------------------------------------------------------------------------
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=!!!CHANGE_DB_SA_PASSWORD!!!
MSSQL_HOST=mssql
MSSQL_PORT=1433
MSSQL_DB={{ project_slug }}
MSSQL_USER=!!!CHANGE_USER!!!
MSSQL_PASSWORD=!!!CHANGE_DB_PASSWORD!!!
{% elif database == 'SQLite' %}
# SQLITE
# ------------------------------------------------------------------------------
SQLITE_HOST=sqlite
SQLITE_DB={{ project_slug }}
SQLITE_USER=!!!CHANGE_USER!!!
SQLITE_PASSWORD=!!!CHANGE_DB_PASSWORD!!!
{% endif %}
